// Original code taken with permission from : https://github.com/dwilliamson/donw.io/blob/master/public/css/main.css

input[type=submit].hacky-post-button {
    padding:5px 15px;
    background: lime;
    font-size: 16px;
    cursor:pointer;
    -webkit-border-radius: 5px;
    -webkit-appearance: none;
    border-radius: 5px;
    border: 2px solid black;

    &:hover {
        background: darkgreen;
    }
}

p.nojs {
    border: 1px dotted black;
    display: block;
    padding: 1em;
    background: lightgrey;
}

#gh-comments {
    text-align: center;
}

#gh-comment {
    text-align: left;
    background-color:#E7E8E2;
    border:1px solid #b3b3b3;
    margin:.5em 0;
    padding:10px;
}

p.comment-explanation {
    font-style: italic;
    font-size: smaller;
}

#gh-comment-hr {
    border-top: inset 1px white;
    margin: 8px 0px;
}

#gh-comment > p:last-child {
    margin-bottom: 0px;
}

#gh-comment img {
    display: inline;
    vertical-align: middle;
    margin: 2px 10px 2px 2px;
}
